[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-mathfilters = "*"
django-crispy-forms = "*"
django-import-export = "*"
whitenoise = "*"
django-heroku = "*"
pillow = "*"
psycopg2 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-debug-toolbar = "*"

[requires]
python_version = "*"
